[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rthingsboard"]
	path = Rthingsboard
	url = https://github.com/ddorch/rthingsboard
